/* ez colour list */
:root {
    --background: rgb(255,219,118);
}
/* font */
.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* main den background */
body {
  background: url('https://i.ibb.co/ByXDNvM/lioden-brown-bg.png') center center fixed;
  background-size: 100%;
}
