/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* main den background */
body {
  background: url('https://i.ibb.co/ByXDNvM/lioden-brown-bg.png') center center fixed;
  background-size: 100%;
}
/* primary panels */

/* right third */
.container.main {
  background: rgba(38,20,2,0.75);
  border: none;
  box-shadow: none;
  border: 3px solid #ffda76;
  border-radius: 5px;
  color: #ffffff;
}
/* left two third */
.col-md-9 {
  background: none;
  border-right: none;
  color: #ffffff;
}
/* welcome back ... */
.topbar {
  background: rgb(038,020,002);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  border: 3px solid #ffda76;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: none;
}
/* crossroad topbar */
.navbar {
  background: rgba(038,020,002,1);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157,129,066,1) 75%, rgb(255,218,118,1) 100%);
  border-bottom: 3px solid #ffda76;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/* crossroads text */
.navbar li a {
  color: #ffffff !important;
}
/* crossroads buttons */
.navbar li a:hover {
  background: rgba(255,218,118,0.5) !important;
  color: #ffffff;
  border-radius: 25px;
}
/* home/den links */
.breadcrumb {
  background: rgba(038,020,002,1);
  border: 3px solid #ffda76;
  border-radius: 5px;
}
.breadcrumb .active {
  color: #ffffff;
}
/* CSS credit */
.breadcrumb::after {
  content: "Custom CSS by Rhy#254310";
  color: #ffffff;
  position: absolute;
  right: 14%;
}
/* bookmark button */
input.floatright, input.floatright:hover {
  background: rgba(038,020,002,1);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%)!important;
  border: 3px solid #ffda76 !important;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: none;
  position: relative;
  bottom: 3.5px;
}
/* switch account button */
button.button, button.button:hover {
  background: rgba(038,020,002,1);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  border: 3px solid #ffda76;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: none;
}
/* other buttons */
input[type="button"] {
  background: rgba(038,020,002,1);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  border: 3px solid #ffda76 !important;
  border-radius: 5px;
  text-shadow: none;
  color: #FFFFFF !important;
}
input[type="button"]:hover {
  background: rgba(255,218,118,1) !important;
  border: 3px solid #ffda76;
  text-shadow: none;
  color: #ffffff !important;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background: rgba(255,218,118,1) !important;
  border: 3px solid #ffda76;
  text-shadow: none;
  color: #ffffff!important;
  border-radius: 5px;
}
input[type="submit"] {
  background: rgba(038,020,002,1);
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  border: 3px solid #ffda76 !important;
  border-radius: 5px;
  text-shadow: none;
  color: #FFFFFF !important;
}
/* alerts */
.alert-danger {
    background: rgba(255, 132, 118, 0.5);
    border: 3px solid #ff8476;
    color: #ffffff;
    border-radius: 5px;
}
.alert-success {
    background: rgba(207, 255, 118, 0.5);
    border: 3px solid #cfff76;
    color: #ffffff;
    border-radius: 5px;
}
/* headers */
h1 {
  color: #ffda76;
  font-size: 50px;
  text-align: center;
  font-family:'Montserrat';
}
h2 {
  color: #ffda76;
  font-size: 25px;
  text-align:center;
}
h3 {
  color: #ffda76;
  text-align:center;
  font-size: 15px;
}
/* right side panels */
.panel {
  background: rgba(038,020,002,1) !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: 3px solid #ffda76 !important;
  border-radius: 5px;
  color: #ffffff;
}
.sidebar h3 {
    color: #ffda76;
}
/* stat bars */
.progress {
  background: rgba(255,218,118,0.5);
  border: none;
    border-radius: 5px;
}
.progress-bar {
  background: linear-gradient(270deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  border-radius: 0px;
}
.progress div {
  color: #ffffff !important;
}
/* info table */
.table {
  background: rgba(038,020,002,1) !important;
  border: 3px solid #ffda76;
  border-radius: 5px !important;
  border-collapse: separate;
}
/* info table - king name/title, mutation count */
.table .top, .table th {
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  color: #ffffff;
  border: 3px solid #ffda76;
  border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;

}
.table .bottom, .table th {
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%)!important;
  color: #ffffff;
  border: 3px solid #ffda76 !important;
  border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
}
td.bottom a {
  text-decoration: none !important;
}
.inner-table .left {
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%);
  color: #ffffff;
  border: 3px solid #ffda76;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inner-table .right {
  background: rgba(038,020,002,1);
  border: 3px solid #ffda76;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  color: #ffda76;
}
/* dens backgrounds */
.cave-grid,
.mound-grid {
  background: rgba(038,020,002,1);
  border: 3px solid #ffda76;
  border-radius: 5px;
  color: #ffffff;
}
/* dynasty panels */
.feature,
div.left {
  background: rgba(038,020,002,1);
  border: 3px solid #ffda76;
  border-radius: 5px;
}
/* feed all, play all */
.feature {
  background: rgba(038,020,002,1) !important;
  border: 4px solid #ffda76 !important;
  border-radius: 5px !important;
  color: #ffffff !important;
}
/* friend and clan table divider bars */
.table .left {
  background: linear-gradient(0deg, rgba(038,020,002,1) 0%, rgba(062,042,015,1) 25%, rgba(157, 129,066,1) 75%, rgb(255,218,118,1) 100%) !important;
}
/* territory description background */
input,
select,
textarea {
  background: rgba(255,218,118,0.5);
  border: 3px solid #ffda76;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
}
/* copyright text */
div.container.foot.center.white.visible-lg.visible-md.visible-sm,
div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
  color: #ffffff !important;
  text-shadow: none !important;
}
/* link colour */
a:link,
a:visited {
  color: #ffda76 !important;
}
a:hover {
  color: #ffffff !important;
}
/*box container*/
.boxcontainer {
  height: auto;
  width: auto;
  padding: 10px;
  justify-content: center;
  overflow: auto;
  display: inline;
}

/* regular boxes */
.smallbox {
  float: center;
  background: rgba(038,020,002,1);
  color: #ffffff;
  padding: 15px;
  border: 3px dashed #ffffff;
  border-radius: 5px;
  height: auto;
  width: 75%;
  overflow: auto;
}
.mediumbox {
  float: center;
  background: rgba(038,020,002,0);
  color: #ffffff;
  padding: 10px;
  border: 3px dashed #ffffff;
  border-radius: 5px;
  height: auto;
  width: 75%;
  overflow: hidden;
}
/* hover boxes */
.hoverbox1 {
  float: center;
  background: rgba(038,020,002,1);
  color: #ffffff;
  padding: 15px;
  border: 3px dashed #ffffff;
  border-radius: 5px;
  height: 95px;
  width: 40%;
  overflow: auto;
}
.hoverbox1:hover {
  height: auto;
  width: 40%;
}
/* corner credits box */
.creditbox {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(038,020,002,1);
  color: #ffffff;
  padding: 10px;
  border: 3px dashed #ffffff;
  border-radius: 5px 5px 0px 0px;
  height: 90px;
  width: 350px;
  transition: 2s;
}
.creditbox:hover {
  height: 325px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #261402 !important;
}
::-webkit-scrollbar-thumb {
  background: #ffda76;
  border-radius: 3px;
}
/* avatar stuff */
{
::after {
content: url('https://i.ibb.co/PsC7H0Nx/morningmire-full-image.png')!important;
    display: block;
    position: absolute;
}
    /* code below vaugely created from Tawny's broad advice of literally "you'd essentially just "hide" the orignal lion image, and then use an ::after element to insert the larger screenshot :D" and nearly 3 hours of digging through multiple free code help websites and lots and lots of lioden forum posts */
    /* first part does lion image move and replace */
}
@media screen{
#lion_image>div::after {
content: url('https://i.ibb.co/PsC7H0Nx/morningmire-full-image.png')!important;
display: block;
position: absolute!important;
border-radius: 25px!important;
overflow: hidden;
height: 78.2%;
}
}
@media screen{
	div#lion_image {
	border-radius: 25px !important;
	margin-left: 90px !important;
}
}
#lion_image > div {
	width: 650px !important;
	border-radius: 25px !important;
}
/* player icon */
table#player img {
  border: 4px solid #ffda76;
  border-radius: 5px;
  overflow: hidden;
}
.h3 img {
    border: none !important;
}
.xlarge img {
    border: none !important;
}
.xlarge .text-muted {
    color: #ffffff;
}
/* this second part moves the table to below the image instead of to the right of it and for some reason don't ask why i don't know but it has to be below the player icon at this point */
.right_odd {
  background: none !important;
}
table#about {
	.inner-table {
	margin-top:515px;
	margin-left:-635px;
    margin-bottom:5px;
	}
}
/* hr codes provided by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 */
hr {
  display: none;
}
hr {
  display: none;
}

/* Codes provided by LioDev/Hok-Z|𝑴𝒂𝒍𝒆𝒏𝒊𝒂 (#41458)*/

#commentBox {
  background: rgba(038,020,002,1);
  height: 300px !important; 
  width: 75%px;
  padding: 0px!important;
}
div.comment {
border-bottom: 2px solid #ffda76;
}
small.text-muted {
color: #FFFFFF;
}
/* mobile stuff */
@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
